<aside class="section-secondary">
    <h2>Enlaces a otros sitios web sobre Creditos UVR</h2>
    <ul>
        <li>
            <a href="https://www.banrep.gov.co/es/estadisticas/unidad-valor-real-uvr">
                <p>https://www.banrep.gov.co/es/estadisticas/unidad-valor-real-uvr</p>
            </a>
        </li>
        <li>
            <a href="https://www.fna.gov.co/vivienda/caracteristicas-financieras/uvr">
                <p>https://www.fna.gov.co/vivienda/caracteristicas-financieras/uvr</p>
            </a>
        </li>
        <li>
            <a href="https://www.bbva.com.co/personas/blog/educacion-financiera/prestamos/uvr-o-pesos.html">
                <p>https://www.bbva.com.co/personas/blog/educacion-financiera/prestamos/uvr-o-pesos.html</p>
            </a>
        </li>
        <li>
            <a href="https://www.larepublica.co/finanzas-personales/se-vuelve-atractivo-volver-a-tomar-creditos-con-uvr-para-vivienda-ahora-que-cae-la-inflacion-3786688">
                <p>https://www.larepublica.co/finanzas-personales/se-vuelve-atractivo-volver-a-tomar-creditos-con-uvr-para-vivienda-ahora-que-cae-la-inflacion-3786688</p>
            </a>
        </li>
    </ul>
    <h2>Sitios web con asesoramiento gratuito</h2>
    <ul>
        <li>
            <a href="https://www.fna.gov.co/atencion-ciudadana/mis-canales/asesor-en-linea">
                <p>https://www.fna.gov.co/atencion-ciudadana/mis-canales/asesor-en-linea</p>
            </a>
        </li>
        <li>
            <a href="https://www.superfinanciera.gov.co/">
                <p>https://www.superfinanciera.gov.co/</p>
            </a>
        </li>
        <li>
            <a href="https://www.minhacienda.gov.co/">
                <p>https://www.minhacienda.gov.co/</p>
            </a>
        </li>
        <li>
            <a href="https://finanzasconproposito.org/">
                <p>https://finanzasconproposito.org/</p>
            </a>
        </li>
    </ul>
    <h2>Sitios fisicos con asesoramiento gratuito</h2>
    <ul>
        <li>
            <a href="https://www.superfinanciera.gov.co/#:~:text=Direcci%C3%B3n%3A%C2%A0Calle%207%20No.%204%20%2D%2049%20Bogot%C3%A1%2C%20D.C.">
                <p>https://www.superfinanciera.gov.co/#:~:text=Direcci%C3%B3n%3A%C2%A0Calle%207%20No.%204%20%2D%2049%20Bogot%C3%A1%2C%20D.C.</p>
            </a>
        </li>
        <li>
            <a href="https://www.bancolombia.com/puntos-de-atencion">
                <p>https://www.bancolombia.com/puntos-de-atencion</p>
            </a>
        </li>
        <li>
            <a href="https://www.fna.gov.co/atencion-ciudadana/puntos-de-atencion#:~:text=Puntos%20de%20Atenci%C3%B3n%20al%20P%C3%BAblico">
                <p>https://www.fna.gov.co/atencion-ciudadana/puntos-de-atencion#:~:text=Puntos%20de%20Atenci%C3%B3n%20al%20P%C3%BAblico</p>
            </a>
        </li>
        <li>
            <a href="https://www.minhacienda.gov.co/webcenter/portal/AtencionMHCP/pages_canalesa#:~:text=ser%20consulta%20aqu%C3%AD-,Direcci%C3%B3n,-Carrera%208%20No">
                <p>https://www.minhacienda.gov.co/webcenter/portal/AtencionMHCP/pages_canalesa#:~:text=ser%20consulta%20aqu%C3%AD-,Direcci%C3%B3n,-Carrera%208%20No</p>
            </a>
        </li>
    </ul>
</aside>