article.article-simulador {
    height: 100%;
}

h3.resultado {
    color: white;
    background-color: #ff8c00;
    border-radius: 15px;
    padding: 10px 20px; /* Añadir un poco de espacio interno para que el texto no esté pegado al borde */
    text-align: center; /* Centrar el texto horizontalmente */
    transition: background-color 1.5s ease;
}

h3.resultado:hover {
    background-color: #4CAF50;
}

div.container {
    height: 70dvh;
}

td.fila-cuota {
    background-color: #4CAF50;
}

/* Estilos para el formulario */
form {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

/* Estilos para las etiquetas de los campos */
label {
    display: block;
}

/* Estilos para los campos de entrada */
input[type="text"],
input[type="number"],
input[type="email"],
textarea,
select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #f5f5f5;
}

/* Cambiar color de fondo al activar los campos */
input[type="text"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
textarea:focus,
select:focus {
    background-color: #ffffff;
    border: 2px solid rgb(76, 143, 206);
    outline: none;
}

input[type="text"]:valid,
input[type="number"]:valid,
input[type="email"]:valid,
textarea:valid,
select:valid {
    border: 2px solid #4CAF50; /* Cambio de color del borde para indicar inválido */
}

/* Estilos para el botón de enviar */
button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 20px 20px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

/* Cambiar color del botón al pasar el cursor */
button[type="submit"]:hover {
    background-color: rgb(76, 143, 206);
}

/* Cambiar color del botón al hacer clic */
button[type="submit"]:active {
    background-color: #31bb76;
}

table.cuotas {
    max-width: 100%;
    font-size: 16px;
}

table.cuotas td,
table.cuotas th {
    padding: 10px 1px;
    text-wrap: wrap;
}

table.cuotas tr:nth-child(even) {
    background-color: #f2f2f2; /* Color de fondo para las filas pares */
}

/* Opcional: Estilos para las filas impares */
table.cuotas tr:nth-child(odd) {
    background-color: #ffffff; /* Color de fondo para las filas impares */
}
 
td.tabla-mes {
    font-weight: bold;
}

table.cuotas tr.cuotas-row:hover {
    background-color: #229e9e;
    color: white;
    font-weight: bold;
}

h3.alert {
    background-color: #ffcc00;
    color: #ffffff;
    border-radius: 10px;
    text-align: center;
    margin: 0;
    margin-top: 10px;
    transition: background-color 1.5s ease;
}

h3.alert:hover {
    background-color: #ff7300;
}
